#grid-handles-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.grid-handle {
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: gray;
    border-radius: 10px;
    cursor: pointer;
}

.grid-handle:hover {
    transform: scale(1.3);
}
